<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ismet.usbaccessory">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UsbAccessory"
        android:screenOrientation="landscape"
        tools:targetApi="31"
        android:name=".App">
        <service
            android:name="com.ismet.usbaccessory.UsbAccessoryService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.ismet.usb.accessory" />
            </intent-filter>
        </service>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.UsbAccessory">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>